body
{
    text-align: center;
}
#family
{
    font-size: 150px;
    height: 300px;
    width: 300px;
}
#dad
{
    border-radius: 20px;
    border-color: black;
    border-width: 5px;
}